.main-ranking{
    display: block;
    margin: 0;
    padding: 0;
}

.content-columns{
    display: flex;
    margin: auto;
    background-color: #E5E5E5;
    height: 100%;
}

.title-page{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: rgba(31, 28, 33, 0.8);
    margin-bottom: 40px;
}

#title-ranking{
    margin-right: 10px;
}

.text-column{
    color: #1F1C21;
    position: absolute;
    font-size: 22px;
    margin-bottom: 55%;
    margin-left: 40%;
}

.colunmn{
    display: grid;
    grid-template-rows: 160px 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr;
    margin: auto;
    background-color: #21295C;
    color: #FFFFFF;
    width: 32%;
    height: 100%;
}

.first{
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}

.first:hover{
    background-color: rgba(11, 10, 15, 0.6);
    cursor: pointer;
}

.others-positions{
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.others-positions:hover{
    background-color: rgba(11, 10, 15, 0.4);
    cursor: pointer;
}

.ong-image{
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 15px;
}

.text-ongs{
    line-height: 10px;
    margin-top: 15px;
    font-weight: 700;
}

.positions{
    margin-right: 7px;
    top: 0;
    right: 0;
    position: absolute;
}