:root {
    /* Brand colors */
    --color-primary: #0076F5;
    --color-secondary: #23D7FB;
    /* Background colors */
    --color-background-primary: #21295C;
    --color-background-secondary: #F5F5F5;
    --color-background-surface: #FFFFFF;
    /* Text colors */
    --color-dark-text-100: #1F1C21FF;
    --color-dark-text-80: #1F1C21CC;
    --color-dark-text-60: #1F1C2199;
    --color-dark-text-40: #1F1C2166;
    /* Text colors */
    --color-white-text-100: #FFFFFFFF;
    --color-white-text-80: #FFFFFFCC;
    --color-white-text-60: #FFFFFF99;
    --color-white-text-40: #FFFFFF66;
    /* Fonts */
    --font-headline: Arial, Helvetica, sans-serif;
    --font-body: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    background-color: var(--color-background-secondary);
}

/* Topbar */

.topbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: 59px;
    width: 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    background-color: var(--color-background-primary);
}

.topbar-brand {
    font-family: var(--font-headline);
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white-text-100);
    cursor: pointer;
}

.button-sign {
    font-family: var(--font-headline);
    font-size: 12px;
    font-weight: 700;
    color: var(--color-white-text-100);
    border-radius: 10px;
    width: fit-content;
}

.button-sign-in {
    padding: 10px;
    background-color: var(--color-primary);
    text-align: center;
    border-width: 0px;
}

.button-sign-up {
    padding: 8px;
    background-color: transparent;
    border-color: var(--color-primary);
    border-width: 2px;
    border-style: solid;
}

/* Page Content */

fieldset {
    border: 0;
    padding: 0;
}


.square {
    background-color: var(--color-background-surface);
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
    padding: 2rem 0;
}

.titulo-cadastro {
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 2.50rem;
}

.formulario {
    color: var(--color-dark-text-80);
}

.info-pet {
    font-family: var(--font-body);
    font-size: 1.5rem;
    font-weight: 500;
}

#titulo, #raca {
    display: block;
}

#sexo, #idade {
    height: 40px;
    width: 180px;
}

.item-selecionar {
    margin: 0 0 15px;
}

.selecionar-opcao {
    font-family: var(--font-body);
    color: var(--color-dark-text-60);
    font-size: 1.2rem;
}

.botao-carregar {
    display: none;
}

.botao-cadastrar {
    background: var(--color-background-primary);
    border: none;
    border-radius: 5px;
    color: var(--color-background-secondary);
    cursor: pointer;
    font-family: var(--font-body);
    font-size: 1.4rem;
    font-weight: 700;
    margin: 25px 0 25px 0;
    padding: 8px 0;
    width: 45%;
}

.botao-cadastrar:hover {
    background-color: var(--color-primary);
}

/* Media Queries */

@media screen and (min-width: 769px) {
    .content-add-pet {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .square {
        margin: 4rem;
        padding: 0.7rem 4rem;
    }

    .info-pet {
        display: block;
        margin: 0 0 5px;
    }

    .input-padrao {
        margin: 0 0 15px;
        height: 90%;
        width: 36rem;
        padding: 10px 10px;
    }

    .campos-selecionar {
        display: flex;
        justify-content: space-between;
    }

    .descricao {
        height: 6rem;
        margin: 0 0 15px;
        padding: 10px 10px;
        width: 36rem;
    }
}

@media screen and (max-width: 768px) {
    .content-add-pet {
        width: 98%;
        height: 95%;
        margin: 0 auto;
    }

    .square {
        margin: 1rem;
        padding: 0.3rem 2rem;
    }

    .info-pet {
        display: flex;
        margin: 0 0 5px;
    }

    .input-padrao {
        margin: 0 0 15px;
        height: 1.2rem;
        max-width: 38rem;
        width: 95%;
        padding: 10px 10px;
    }

    .descricao {
        margin: 0 0 15px;
        width: 95%;
        height: 6rem;
        max-width: 38rem;
        padding: 10px 10px;
    }

    .botao-cadastrar {
        font-size: 1.2rem;
        width: 16rem;
    }
}

@media screen and (max-width: 375px) {
    .square {
        margin: 1rem;
        padding: 0.2rem 0.8rem;
    }

    .titulo-cadastro {
        font-size: 2rem;
    }

    .info-pet {
        font-size: 1.3rem;
    }

    .input-padrao {
        margin: 0 0 15px;
        height: 1.2rem;
        max-width: 38rem;
        width: 90%;
        padding: 7px 10px;
    }

    #sexo, #idade {
        height: 30px;
        width: 180px;
    }
    
    .selecionar-opcao {
        font-family: var(--font-body);
        color: var(--color-dark-text-60);
        font-size: 1rem;
    }

    .descricao {
        margin: 0 0 15px;
        width: 90%;
        height: 6rem;
        max-width: 38rem;
        padding: 10px 10px;
    }

    .botao-carregar {
        background: var(--color-dark-text-40);
        border-radius: 10px;
        color: var(--color-dark-text-80);
        display: block;
        cursor: pointer;
        font-family: var(--font-body);
        padding: 0.6rem 0.7rem;
        text-transform: uppercase;
        width: 162px;
    }

    .carregar-imagem {
        display: none;
    }

    .botao-cadastrar {
        font-size: 1rem;
        width: 12rem;
    }
}