@use "./base.scss";

.post {
    width: 567px;
    max-width: 100vw;
    height: fit-content;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.post-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: base.$color-background-surface;
    width: 100%;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
}

.post-top p {
    font-family: base.$font-body;
    margin-top: 10px;
    margin-bottom: 0px;
}

.post-profile {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    gap: 10px;
}

.post-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
}

.post-profile span {
    font-family: base.$font-headline;
    color: base.$color-dark-text-80;
    font-weight: 700;
    font-size: 14px;
}

.post-middle {
    width: 100%;
    max-height: 600px;
}

.post-bottom {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    background-color: base.$color-background-surface;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: base.$color-dark-text-80;
    font-size: 12px;
    font-weight: 700;
    font-family: base.$font-headline;
}
