@use "./base.scss";

.topbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: base.$layout-topbar-height;
    width: 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    background-color: base.$color-background-primary;
}

.topbar-content {
    display: flex;
    gap: 5px;
    align-items: center;
}

.topbar-content span {
    white-space: nowrap;
    color: base.$color-white-text-100;
    font-family: base.$font-headline;
    font-size: 24px;
    letter-spacing: 1px;
}

.topbar-brand {
    font-family: base.$font-headline;
    font-size: 24px;
    font-weight: 700;
    color: base.$color-white-text-100;
}

.topbar-sidebar-open {
    display: block;
    width: 40px;
    height: 40px;
}

.topbar-sidebar-open::before {
    display: block;
    content: "";
    margin-top: 20%;
    margin-left: 20%;
    width: 60%;
    height: 60%;
    background-image: repeating-linear-gradient(
        0,
        #fff 0%,
        #fff 16.6%,
        transparent 16.6%,
        transparent 41.6%,
        #fff 41.6%,
        #fff 58.2%,
        transparent 58.2%,
        transparent 83.2%,
        #fff 83.2%,
        #fff 100%
    );
}
